{
    marging:0;
    padding:0;
    font-family:Arial, Helvetica, Sans-serif;
    font-family:cambria, Cochin, Georgia,Times,'Times New Roman',Serif';
    font-family: system-ui,-apple-system,BlinkMacSystemFont;
}

body {
    Font: 15px/1.5 ariel, helvitica, sans-serif;
    padding:0;
    margin:0;
    background-color: rgb(109,100,100);
    
}

.container{
    width: 80%;
    margin: 0;
    overflow: hidden;
}

ul{
    margin:0;
    padding:0;
}

/* header */
header{
    background-color: green;
    color: #ffff;
    padding-top:20px;
    padding-bottom:20px
    min-height:40px;
    border-bottom:#ffff 3px solid ;
}

header a{
    color:#ffff;
    text-decoration:none;
    text-transform: uppercase ;
    font-size:18px;
}

header li{
    float: left ;
    display: inline;
    padding:0 20px 0 20px;
}

header #branding {
float: left;
}

header nav{
        float:right;
        margin:10px;
    }
    
    header .highlight,header .current a{
    color: purple;
    font-weight:bold;
    margin:2px;
}

{
    header a:hover{color: red;
    font-weight: bolder;}
}

#pappi{
    min-height:100px;
    background:url("../img/my logo2.jpg");
    background-position: center;
    background-size: cover;
    text-align: center;
    color: gold;
    margin-bottom:40px;}
    
    #pappi{
       margin-top:0px;
       font-size:20px;
       margin-bottom:10px;
       text-align: left;
       color: red;
       font-weight: bolder;
        }
        
            #pappi p{font-size: 20px;
              text-align:left;
              color: purple;
              font weight:bolder; }
              
              #pappi h2{color:#ffff;
              text-align: left;
              font-size:40px;
              font weight: bolder;}
              
               #baby{
    min-height:0px;
    background-color: black;
    background-position: center;
    background-size: cover;
    text-align: center;
    color: yellow;
    margin-bottom:0px;
    font-size:32px;
    margin-top:40px;}
    
        .femi{
    min-height:0px;
    background:url("../img/white guy.jpg"); 
    background-position: left;
    background-size: cover;
    text-align: center;
    color: red;
    margin-bottom:0px;
    font-size:32px;
    margin-top:40px;
    text-transform:uppercase;
    border-bottom:gold 7px solid;
    font-weight:bolder;}
    
             
    
      .girl{
      background-color: green;
      padding-top:10px;
      background-size: cover ;
      text-align:center;
      font-weight:bolder; 
      font-size:32px;
      text-transform: upper;
      0 auto; }              
      
     
    
    .femi{
    padding: 40px;
    width:px;
    width-top:60px;
    margin-left: 180px;
    margin: 0 auto;
    }
     form{
       width:0 auto;
       text-align: center;
       margin-top: -10; }
    
    
       
    input {
        width: 240;
        text-align:center;
        background: transparent;
        border : none;
        border-bottom:2px solid White;
        font-size: 18px;
        font-weight:200px ;
        padding: 10px 0;
        transition: border 0.5s;
        outline:none;
        height: 35px;
        color:whitesmoke;
    }
    
       button {
           boder: none;
           width: 190px;
           font-size: 20px;
           line-height: 25px;
           padding: 10px 0;
           border-radius: 25px;
           cursor:pointer;
       }

   button:hover{
       background: gold;color: red;
   }
   
     h2{color: gold;}
   
   a{color:gold;}
   
   a:hover{color: cyan;}
   
   .signin{color: black;}
   
 input {color: black;} 
 
 ::placeholder{color: purple;}
 
 ::placeholder{color: purple; opacity 0.9;}
     
     #biz{
    min-height:500px;
    background:url("../img/plain background 1.jpg");
    background-position: center;
    background-size: cover;
    text-align: center;
    color: gold;
    margin-bottom:40px;}
    
    .money{
    min-height:1200px;
    background:url("../img/camera.jpg"); 
    background-position: center;
    background-size: cover;
    text-align: center;
    color: black;
    margin-bottom:0px;
    font-size:32px;
    margin-top:40px;}
   
   
   #biz{
                     margin-top:px;
                     padding-center:15%;
                    
                 }
    
       footer{
       padding:20px;
       margin-top:px;
       color: black;
       background: gold;
       text-align:center;
   }
   
     .text{padding: 40px;}
    
    .main{font-size: 10px;}
    
    .maim h1{color: #ffff;
            text-align:center;
            float:left;}
            
            .main p{
                color: #ffff;
                text align: center;
                float: left;
                
                p{color:#ffff;}
            }
            
                                
                                 @media(max-width:700px)
          { #pappi h1{
              font-size:30px;
              line-height:50px;
          }
          
          #biz .btn{Font-size:16px;
                      padding: 40px;
                      text-align: center;
                      
                      
                      
                      #biz .btn{width: 400px;
                      text-align: center;
                      
                      h2{
                          margin:auto;
                          font: 36px;
                          font-weight:600px ;
                      }
                      
                      
       
       